.logo{

}

.mlogo{
    margin-left: 50rem;
}
.sidenav{
    position: absolute;
    background-color: #E3E1D9;
    width: 150px;
    padding-bottom:1000px;
    padding-top: 50px;
}

.file{
    display: flex;
    margin-right: 100%;
}

.dlab{
    padding: 20px;
}