body{
    background-image: url("img/Mc\ Café\ \(1\).png");
    background-size: cover;
}

.logo{
    width: 90xp;
    height: 90px;
    padding-left: 80px;
    padding-top: 60px;
}


.head{
    display: flex;
}


.mnav{
    padding: 70px;
    padding-left: 110px;
    font-family: 'Roboto', sans-serif;

}

.cnav{
    padding: 70px;
    margin-left: -60px;
    font-family: 'Roboto', sans-serif;
}

.snav{
    margin-top: -16px;
    margin-left: 160px;
    width: 480px;
    background-color: white;
    border: 0px ridge grey;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.ri-align-justify{
    margin-top: 90px;
    font-size: 23px;
    margin-left: -50px;
}

.bnav{
    font-family: 'Roboto', sans-serif;
    padding: 70px;
    margin-left: 280px;
}

.scontainer{
    margin-top: 89px;
    font-family: 'Roboto', sans-serif;
}

.ri-search-line{
    margin-left: -39px;
    background-color: white;
    border: 0px hidden white;
}

.menu{
    display: flex;
    justify-content: space-around;
    margin-top: 340px;
}

.item{
    padding: 100px;
    border: 1px solid grey;
    border-radius: 30px;
}



.item{
 
        padding: 50px;
        background-color: #F5F5F5;
        transition: transform 1.3s; /* Animation */
        width: 200px;
        height: 350px;
        margin: 0 auto;

      
}
.item:hover{
    transform: scale(1.2);
}


.icmimg{
    width: 250px;
    height: 250px;
    margin-left: -20px;
    margin-top: -150px;
}

.iclimg{
    width: 150px;
    height: 250px;
    margin-left: 25px;
    margin-top: -130px;
}


.iccmimg{
    width: 150px;
    height: 220px;
    margin-left: 15px;
    margin-top: -120px;

}

.iccmmimg{
    width: 150px;
    height: 200px;
    margin-left: 15px;
    margin-top: -110px;
}

.footer{

        background-color: #777;
        padding: 10px;
        text-align: center;
        color: white;
        margin-top: 499px;
      }


