.bx{
    border: 7px groove #E0CCBE;
    background-color: #EEEDEB;
    box-shadow: 3px 3px grey, -0.5em 0 2.2em grey;
    padding: 50px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
height: 90vh;
}

body{
    background-color: #D0D4CA;

}


.in{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


.age{
    margin-top: 20px;
}

input{
    width: 150px;
}


.submit_btn{
    padding-top: 30px;
}

.submit{
    width: 100px;
    height: 50px;
}

