#container {
    padding: 2rem;
    width: 200px;
    height: 200px;
    background-color: black;
    

}

.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;    
    gap: 1rem;
}


button{
    padding: 1rem;
    border-radius: 0px solid white;
    background-color: white;
}